<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <style>
        .logins {text-align:center;}

    </style>
</head>
<body>
<form action="login" method="post">
  {% csrf_token %}
    <div class="logins">
    <h1>LOGIN PAGE</h1>
  <input type="text" name="username" placeholder="Username" style="background-color: aqua;"><br>
  <input type="password" name="password" placeholder="enter your password" style="background-color: aqua;"><br>
  <input type="submit" style="background-color:red;">
</div>

</form>
</body>
</html>